# Virtual Environment
.venv/
venv/
ENV/
env/

# Python Caches
**/__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Media / Uploaded files
media/
staticfiles/

# Vercel and local configurations
.vercel/
.idea/
.vscode/
*.log
